@model UserFacingApp.Models.SecretDetails 

@{
    ViewData["Title"] = "Secret Details";
}

<h1>@ViewData["Title"]</h1>

<p><b>ID: </b> @Model.Id</p>
<p><b>Title: </b> @Model.Title</p>
<p><b>Description: </b> @Model.Description</p>
<p><b>Secret Level: </b> @Model.SecretLevel</p>
